<div *ngIf="event">



<h1 [innerText]="title + event.eventName"></h1>


<table class="table table-hover table-striped">
    <tr>
        <th>Event Id</th>
        <td><span [innerText]="event.eventId"></span></td>
    </tr>
    <tr>
        <th>Event eventCode</th>
        <td><span [innerText]="event.eventCode | lowercase"></span></td>
    </tr>
    <tr>
        <th>Event Name</th>
        <td><span [innerText]="event.eventName | uppercase"></span></td>
    </tr>
    <tr>
        <th>description</th>
        <td><span [innerText]="event.description | firstLetterCap"></span></td>
    </tr>
    <tr>
        <th>StartDate</th>
        <td><span [innerText]="event.startDate | date: 'MM/dd/yyyy' "></span></td>
    </tr>
    <tr>
        <th>EndDate</th>
        <td><span [innerText]="event.endDate | date:'MM/dd/yyyy'"></span></td>
    </tr>
    <tr>
        <th>Fees</th>
        <td><span [innerText]="event.fees | currency:'INR   '"></span></td>
    </tr>
    <tr>
        <th>Total Registrationattendance</th>
        <td>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" [style.width]="event.attendance+'%'"  [title] = "event.attendance +'%'" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                  
                    {{event.attendance+'%'}}
                </div>
              </div>

        </td>
    </tr>
    <tr>
        <th>Event Logo</th>
        <td>
            <img [src] ="event.logo" [alt]="event.eventName" [title] ="event.eventName">
        </td>
    </tr>
</table>

<hr>
<!-- <button class="btn btn-danger" (click)="onSendConfirmation()">Send Confirmation</button> -->

</div>