<h1 [innerText]="title+employee.employeeName"></h1>

<table class="table table-hover table-striped">
    <tr>
        <th></th>
        <td>{{employee.employeeId}}</td>
    </tr>
    <tr>
        <th></th>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <td></td>
    </tr>
    <tr>
        <th>Avatar</th>
        <td><img [src]="employee.avatar" [alt]="employee.employeeName" [title]="employee.employeeName"></td>
    </tr>
</table>