<h1 [innerText]="title"></h1>
<br>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>User Id</th>
            <th>Post Id</th>
            <th>Post Title</th>
            <th>Description</th>
        </tr>
    </thead>
       <tbody>
        <tr *ngFor="let post of posts ">
            <td><span [innerText]="post.userId "></span></td>
            <td><span [innerText]="post.id "></span></td>
            <td><span [innerText]="post.title "></span></td>
            <td><span [innerText]="post.body"></span></td>
            
        </tr>
    </tbody>

</table>